/target
.DS_Store
data/test/runs
data/test/config/user_config.toml
.vscode
cli-test/.bundle/
cli-test/.yardoc
cli-test/Gemfile.lock
cli-test/_yardoc/
cli-test/coverage/
cli-test/doc/
cli-test/pkg/
cli-test/spec/reports/
cli-test/tmp/
cli-test/.env

# rspec failure tracking
cli-test.rspec_status

# Per-project Cargo config
# We're currently only using this for configuring mold/sold for local
# development, so we don't want to track those changes
.cargo/config.toml
