[package]
name = "oxen"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "oxen"
crate-type = ["cdylib"]

[dependencies]
pyo3 = "0.18"
pyo3-asyncio = { version = "0.18", features = ["attributes", "tokio-runtime"] }
log = "0.4.17"
pyo3-log = "0.8.1"
tokio = { version = "1", features = ["full"] }
pyo3-polars = "0.3.0"
liboxen = "0.6.1"
